@using BOL;
@{
    var str = ViewData["welcome"];
    <h1 align="center">@str</h1>
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">User_id</th>
            <th scope="col">User_Name</th>
            <th scope="col">User_Age</th>
            <th scope="col">User_Email</th>
            <th scope="col">User_Password</th>
            <th scope="col">User_Hobbies</th>
            <th scope="col">User_DateOfBirth</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        
        @{
            @foreach (User u in ViewBag.user)
            {
                <tr>
                    <td>@u.id</td>
                    <td>@u.name</td>
                    <td>@u.age</td>
                    <td>@u.email</td>
                    <td>@u.password</td>
                    <td>@u.hobies</td>
                    <td>@u.dob</td>
                    <td><a href="/Home/Delete/@u.id">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>
